
/* Primary Navigation Styles */
.bg-dark.primary-navbar{
	background-color: #014421 !important; 
	min-height:75px;
}

@media(min-width:786px){
	.navbar-brand img{
		width:100%;
		max-width: 150px;
		margin-right:0px !important;
	}
	
	.navbar-primary-left,.navbar-primary-right{
		flex:1;
	}
}

@media(max-width:786px){
	.navbar-brand{
		width:100%;
		max-width:150px;
	}
	
	.navbar-brand img{
		width:75%;
		max-width:inherit;
		max-height:auto;
	}
	
	.navbar-brand h1{
		font-size:1em;
	}
	
}

/* Secondary Navigation Styles */

.bg-dark.secondary-navbar{
	background:linear-gradient(90deg, #014421, #014421, #014421, #023118) !important;
	max-height: 50px;
}

.secondary-nav-list{
	list-style-type: none;
	padding-left:0px !important;
}

.secondary-nav-list li{
	display: inline-block;
	margin:5px;
}

.secondary-navigation-list--left, .secondary-navigation-list--center, .secondary-navigation-list--right{
	padding-left:0px !important;
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.navbar-nav ul{
	margin-bottom:0 !important;
}